$theme-colors: (
  red: #ff4c4c,
  blue: #00a2ee,
  green: #24e370,
  purple: #721aff,
  yellow: #ffdd00,
  purple-pink: #ea00ff,
  pink: #ff1a9c,
  orange: #ffa31a,
  idk-name: #7b82c8,
  black: #000,
  gray: #caccd1
);

$social-media-colors: (
  facebook: #5c5cff,
  twitter: #45bdd8,
  linkedin: #232323,
  youtube: #ff1313,
);

$duration-names: (
  1: "Days",
  2: "Hours",
  3: "Minutes",
  4: "Seconds"
);